<div style="height:100%">
    <div style="text-align:center">
        <h1 style="margin-bottom:1px;">ECADAMICS</h1>
    
        <h1 class="longtext"> Learning made more fun, <br>interactive and collaborative</h1>
    </div>
    <div class="container">
        <img src="https://cms-assets.tutsplus.com/uploads/users/30/posts/23680/image/designer1-update.svg">
        <div class="centered2">
               
        <button mat-raised-button color="primary"routerLink = "courses">Browse Courses</button>
        </div>
    </div>
 <div style="width:100%">
        <!-- <div class="leftimage" style="width:50%; margin-top: 5%; float:left;"> -->
            <!-- <img src="https://cms-assets.tutsplus.com/uploads/users/30/posts/23680/image/designer1-update.svg" style="height:1005; width: 100%;opacity: 0.9;"> -->
        <!-- </div> -->
        <!-- <div class="rightcontent" style="width:50%;margin-top: 5%; float:left;"> -->

            <h1 class="longtext">About us<br></h1>
               <h4 class="styleoftext longtext" > We are a group of developers from this organization aiming to develop applications to digitalize
                the traditional ways, for better living.
                Informal school application is one of them to digitalize school and provide 24/7 resource availability
                to assist school children.</h4>
            <!-- <button mat-raised-button color="primary" routerLink="courses" style="margin-top:5%">Browse Courses</button> -->
        <!-- </div> -->
    </div>
    <div class="align" style="margin-top:3%">
        <img src="../../assets/images/child3.jpeg"><br></div>
    <div style="text-align:center">
        <h1>Parent Access</h1>
        <h4 class="styleoftext longtext" >
            Once you are properly identified, a letter containing an access ID and password will be provided. Each
            child will have a separate access ID. You will need to create an account before using Parent Access.
            Instructions for using the Parent Access portal will be posted on this website.
             Issues that require escalation will be handled by the school and central
            support.
        </h4>
    </div>
    <div style="width:100%">
        <div class="leftimage" style="width:33.30%; margin-top: 5%; float:left;">
            <mat-card class="example-card">
                <mat-card-header>
                    <!-- <div mat-card-avatar class="example-header-image"></div> -->
                    <mat-card-title>Homework</mat-card-title>

                </mat-card-header>
                <img mat-card-image src="../../assets/images/homework1.png" alt="Photo of Math" style="max-height:300px; min-height:300px;cursor: pointer;">
                <mat-card-content>
                    <p>
                        You can create homework assignments in seconds and share them instantly with your students.
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="middleimage" style="width:33.30%; margin-top: 5%; float:left;">
            <mat-card class="example-card">
                <mat-card-header>
                    <!-- <div mat-card-avatar class="example-header-image"></div> -->
                    <mat-card-title>Attendance</mat-card-title>

                </mat-card-header>
                <img mat-card-image src="../../assets/images/attendance.png" alt="Photo of Math" style="max-height:300px; min-height:300px;cursor: pointer;">
                <mat-card-content>
                    <p>
                        Track daily attendance by homeroom, period or subject. Easy to use interface to check off your
                        students.
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="rightimage" style="width:33.30%; margin-top: 5%; float:left;">
            <mat-card class="example-card">
                <mat-card-header>
                    <!-- <div mat-card-avatar class="example-header-image"></div> -->
                    <mat-card-title>Report Card</mat-card-title>

                </mat-card-header>
                <img mat-card-image src="../../assets/images/reportcard.jpg" alt="Photo of Math" style="max-height:300px; min-height:300px;cursor: pointer;">
                <mat-card-content>
                    <p>
                        Report cards are fully customizable - you get to have your own grading criteria, grading flow,
                        report card format. You can print beautiful report cards and transcripts.
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <button mat-raised-button color="primary" routerLink="courses" style="margin-top:5%; margin-left:35%; margin-bottom: 10%;">Browse Courses</button>
</div>