.align {
text-align: center;
color: Grey;
font-family: 'Circular',sans-serif;
    font-style: normal;
    font-weight: 300;
    letter-spacing: 0;
    text-rendering: geometricPrecision;
    text-transform: none;

}
.container {
    position: relative;
    text-align: center;
    color: white;
}
.centered {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 50px;
    color:grey;
    text-transform: uppercase;
    margin: 0;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.centered2 {
    position: absolute;
    top: 68%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.mat-raised-button {
   min-width:400px;
   min-height: 50px;
   border-radius: 25px;
}