body {
    margin: 0px;
    overflow:hidden;
  }
  #my_canvas {
    width: 100vw;
    height: 100vh;
    background: #fff;
  }
  p { 
    margin: 100px; 
    font-size: 1.6em; 
    position: absolute;
  }
  a { 
    font-size: 1em; 
    position: absolute;
    color: #FFF;
    top: 5px;
    right: 5px;
  }