@media only screen and (min-width: 600px){
.right-spacer {
    flex-wrap: wrap;
    flex: 1 1 auto;
    position: relative;
  }
  .search {
    padding-left:350px;
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
}