
<div class="vidPage" style="width:100%;height:100%">
  <button mat-mini-fab (click) = "clickback()" color = "primary"> <mat-icon>keyboard_backspace</mat-icon></button>
<h2 style="text-align:center"> LEARNING ROOM</h2>
<h2 style="text-align:center">{{course.cardtitle}}</h2>
<br/>
  <div class="panel">
    <mat-accordion displayMode = "flat">
      <mat-expansion-panel *ngFor="let videobunch of course.videos let index = i" (click)="videoLink(videobunch)">
        <mat-expansion-panel-header>
          <mat-panel-title [style.color] = "getColor(i, videobunch)">
            <strong>{{videobunch.video}}</strong>
          </mat-panel-title>
           <!-- <mat-panel-description>
          </mat-panel-description>  -->
        </mat-expansion-panel-header>
        <i>{{videobunch?.text}}</i>
      </mat-expansion-panel>
    </mat-accordion>

  </div>
  <div class="video" *ngIf="link !=null">
    <iframe id="frame" frameborder="0" [src]="link | safe" width="840" height="400" style="margin-left:50px;min-height:600px;" allowfullscreen></iframe>
  </div>
  <!--<div class="video container" *ngIf="link ==null">
    <div><img src="../../assets/images/start.gif" (click)="start()" style=" width:60%; margin-left: 50px;min-height:600px;"></div>
    <div class="centered">Let's Begin</div>
     <mat-card style="width: 80%; height: 100px;">Let us begin the Journey</mat-card> 
  </div>-->
</div>