<div style="width:100%">
<h2 style="text-align:center"> LEARNING ROOM</h2>
  <div class="panel">
    <mat-accordion displayMode = "flat">
      <mat-expansion-panel *ngFor="let videobunch of course.videos" (click)="videoLink(videobunch)">
        <mat-expansion-panel-header>
          <mat-panel-title >
            {{videobunch.video}}
          </mat-panel-title>
           <!-- <mat-panel-description>
          </mat-panel-description>  -->
        </mat-expansion-panel-header>
        {{videobunch?.text}}
      </mat-expansion-panel>
    </mat-accordion>

  </div>
  <div class="video" *ngIf="link !=null">
    <iframe id="frame" frameborder="0" [src]="link | safe" width="840" height="400" style="margin-left:50px;min-height:600px;" allowfullscreen></iframe>
  </div>
  <div class="video container" *ngIf="link ==null">
    <div><img src="../../assets/images/start.gif" style=" width:60%; margin-left: 50px;min-height:600px;"></div>
    <!--<div class="centered">Let's Begin</div>-->
    <!-- <mat-card style="width: 80%; height: 100px;">Let us begin the Journey</mat-card> -->
  </div>
</div>