.vidPage{
    background-color:  rgb(202, 220, 228);
}
a{
    font-size: 18px;
}
.video {
    width: 70%;
    float: left;
    margin-top: 0px;
    background-color:  rgb(202, 220, 228);
}
.panel {
    width: 30%;
    float: left;
    margin-top: 0px;
    min-height: 604px;
    background-color:  rgb(202, 220, 228);
}

h2{
    margin-top: 0px;
    margin-bottom: 0px;
    background-color:  rgb(202, 220, 228);
}
.mat-accordion {
    max-width:10px;
}
.container {
    position: relative;
    text-align: center;
    color: white;
}
.centered {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 50px;
    color:white;
    text-transform: uppercase;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.clicked {
    background-color: blue;
}
.addcolor {
color: red;
}